<app-nav-bar></app-nav-bar>

<div class="container" style="margin-top: 140px;margin-left:25px;">
    <h1>Welcome to {{title}}!</h1>
    <ul>
        <li class="list-unstyled">
           <p> <b>PageIndex:</b>  {{pagination.pageIndex}} </p>
        </li>
        <li class="list-unstyled">
            <p> <b>PageSize:</b> {{pagination.pageSize}} </p>
        </li>
        <li class="list-unstyled">
            <p> <b>Count:</b> {{pagination.count}} </p>
        </li>
        <li class="list-unstyled">
            <p> <b>Products:</b></p>
        </li>        
    </ul>
    <ul>
        <li class="list-unstyled" style="margin-left: 100px;" *ngFor="let product of products">
             {{product.name}}
        </li>
    </ul>
</div>
